/* General body styling */
body {
    margin: 0;
    font-size: 16px; /* Base font size */
    font-family: 'Roboto', sans-serif;
}

/* Header and navigation styling */
header nav {
    background-color: #FFE773;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-title {
    color: #333;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 1.5rem; /* Responsive font size for desktops */
    font-weight: bold;
    letter-spacing: 1px;
}

.logo img {
    margin-left: 5px;
    align-items: center;
    height: 50px; /* Fixed height for logo */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
    font-size: 1rem;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #556677;
}

.cart img {
    height: 40px; /* Fixed height for cart icon */
}

footer {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    width: 100%;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 5px;
}

.footer-section h4 {
    color: #ff9900;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ff9900;
}

.footer-section a img {
    height: 40px; /* Adjusted image size */
    margin: 5px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Smaller base font size for mobile */
    }

    .header-title {
        font-size: 1.2rem; /* Adjusted for better visibility on mobile */
    }

    .nav-links li {
        font-size: 0.9rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 300px;
    }
}

.about {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0.25vw 0.5vw rgba(0, 0, 0, 0.1);
    max-width: 60vw;
    margin: 10px auto;
}

.contact {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0.25vw 0.5vw rgba(0, 0, 0, 0.1);
    max-width: 60vw;
    margin: 10px auto;
}

.contact h2, .contact h3 {
    color: #333;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    padding: 10px 0;
    line-height: 1.6;
}

.contact-info a {
    color: #0066cc;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0.1vw 0.25vw rgba(0, 0, 0, 0.05);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.contact-form button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #003d7a;
}

@media (max-width: 768px) {
    .contact {
        padding: 25px;
    }
}

.reviews-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 80vw;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

.reviews-container h2 {
    color: #333;
    text-align: center;
}

.review {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.review:last-child {
    border-bottom: none;
}

.review-text {
    color: #555;
    font-size: 1rem;
    line-height: 1.8;
}

.review-author {
    font-size: 0.8rem;
    color: #888;
    text-align: right;
    margin-top: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    flex-basis: 100%; /* Full width on small screens */
    max-width: 300px; /* Max width for standardization */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.product-image {
    width: 100%; /* Ensure standard size */
    height: 200px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensure images cover the area nicely */
    border-radius: 5px;
}

.product-title {
    color: #333;
    font-size: 1.5em;
}

.product-description-short {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
    height: 60px; /* Fixed height to truncate long descriptions */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis to text that overflows */
}

.product-price-short {
    font-weight: bold;
    color: #2a9d8f;
}

.product-rating-short {
    color: #DDC551;
    margin-bottom: 15px;
}

.add-to-cart-button, .product-page-button {
    background-color: #FFE773; /* Matching the header color */
    color: #333;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover, .product-page-button:hover {
    background-color: #ffcc42; /* Lighter shade for hover effect */
}

.quantity-input {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
    .product {
        flex-basis: 30%; /* Allow three items per row on desktop */
    }
}

.star {
    color: gold; /* Gold color for stars */
    font-size: 1.2em;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column; /* Stack the children vertically */
    min-height: 100vh; /* Minimum height is full viewport height */
}

.flexible-space {
    flex-grow: 1; /* Allows this div to take up any leftover space */
}

.product-detail-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-container {
    flex: 1;
    padding: 10px;
}

.product-detail-image {
    width: 100%;
    max-width: 500px; /* Limiting image width */
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-info {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-rating {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

/*.star {*/
/*    color: gold;*/
/*}*/

/*.rating-number {*/
/*    margin-left: 10px;*/
/*    font-size: 0.8em;*/
/*}*/

.product-price {
    font-size: 1.5em;
    font-weight: bold;
    color: #2a9d8f;
    margin: 20px 0;
}

.product-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*.add-to-cart {*/
/*    margin-top: 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.quantity-input {*/
/*    width: 60px;*/
/*    margin-right: 15px;*/
/*    padding: 5px;*/
/*    border: 1px solid #ccc;*/
/*}*/

