{% extends 'base.html' %}

{% block content %}

<div class="about">
    <h2>About Us</h2>
    <p>Welcome to Nostalgia Unfolded Portugal (NUP), where cherished traditions meet modern aesthetics. We are a team of five passionate students from Neapolis University in Pafos, Cyprus—Vsevolod, Mikhail, Anastasia, Nikolai, and Ksenia. Inspired by our diverse backgrounds and a shared love for Portuguese culture, we founded NUP to bring Portugal’s exquisite craftsmanship in towels, linens, pottery, and tableware to the world.</p>
    <p>At NUP, each product tells a story. We collaborate directly with Portuguese artisans to source authentic, handcrafted items that are not only beautiful but also carry the essence of Portugal’s rich heritage. Our mission is to create a bridge between traditional craftsmanship and contemporary homes, fostering appreciation for cultural heritage globally.</p>
    <p>Our journey began as a university project and evolved into a full-fledged business that embraces technology, culture, and entrepreneurship. Through NUP, we strive to connect people with their heritage, introduce timeless Portuguese crafts to new audiences, and support the artisan community. Join us in celebrating and preserving the legacy of Portugal’s artisanal crafts.</p>
</div>

{% endblock %}