<header>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="NUP Logo">
            <span class="header-title">Nostalgia Unfolded Portugal (NUP)</span>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="cart">
            <img src="{{ url_for('static', filename='img/shopping-bag.png') }}" alt="Cart">
        </div>
    </nav>
</header>